<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="common/header.html"></div>
<body>
<div th:replace="common/menu.html"></div>

<div class="text-center my-4">
    <div>
        <span>WE ARE EXPERIENCING AN ERROR, PLEASE TRY AGAIN</span>
        <br>
        <blockquote class="blockquote">
            <p class="m-0">Patience you must have, my young padawan.</p>
        </blockquote>
    </div>
    <img width="500" src="images/babyYoda.jpg" class="rounded" alt="...">
</div>

<div th:replace="common/footer.html"></div>
</body>
</html>